$color-body:            #ffffff;    // Color body
$color-head:            #ffffff;    // Color head
$color-detalhes:        #00E5FF;    // Color detalhes
$color-detalhes-darken: #009daf;    // Color detalhes
$color-principal:       #0DFF90;    // Color Principal
$color-button:          #0DFF90;    // Color Button
$color-button-darken:   #08c76e;    // Color Button Darken
$color-footer:          #7d6f4e;    // Color footer
$color-font:            #ffffff;    // Color font
$color-font-v2:         #666666;    // Color font V2
$color-neutral:         #F2F0F7;    // Color Neutra
