.eb-season-emphasis {
	margin-top: 30px;
	
	h1 {
		font-size: 50px;
		font-weight: bold;
		margin-bottom: 34px;
		position: relative;

		&:before {
			content: "";
			position: absolute;
			width: 100%;
			max-width: 383px;
			height: 8px;
			background: $color-detalhes;
			border-radius: 50px;
			bottom: -20px;
		}
	}
}
