.footerContact {
	background: url("../img/footerbg.png") center center no-repeat;
	background-size: cover;
	margin-top: 60px;
	position: relative;
	height: 812px;
}
.footerContact__titulo {
	font-family: "montserrat";
	color: #fff;
	font-size: 70px;
	line-height: 70px;
	margin-top: 140px;
	/* font-weight: bolder; */
	/* width: 80%; */
}

.footerContact__titulo--V2 {
	margin-top: 35px;
	font-size: 44px;
}

.footerContact__titulo--V2 span {
	color: #0ce8c1;
}

.footerContact__espacemento {
	position: relative;
}

.footerContact__espacemento:before {
	content: "";
	width: 8px;
	height: 100%;
	background: #0ce8c1;
	position: absolute;
	border-radius: 50px;
	left: -20px;
}

.footerContact-form {
	width: 100%;
	max-width: 698px;
	padding: 30px 12%;
	background: #fff;
	color: #292929;
	position: absolute;
	top: -40px;
	border-radius: 15px;
	-webkit-box-shadow: 0px 5px 12px 4px rgba(0, 0, 0, 0.32);
	box-shadow: 0px 5px 12px 4px rgba(0, 0, 0, 0.32);
	max-height: 995px;
	height: 100vw;
}

@media screen and (min-width: 1200px) {
	.footerContact-form {
		max-width: 596px;
		max-height: 924px;
	}
}

/* .footerContact-form__titulo {
	font-weight: bolder;
	color: #fff;
	font-size: 25px;
} */
.footerContact-form__marg {
	margin-top: 33px;
}

.margCenter {
	text-align: center;
}

.footerContact-form__label {
	width: 100%;
	font-size: 23px;
	/*margin-top: 20px;*/
}
.footerContact-form__input {
	width: 100%;
	border: 1px solid #707070;
	border-radius: 50px;
	background: none;
	padding: 18px 10px 18px 60px;
	font-size: 23px;
}

.footerContact-form__input--textarea {
	border-radius: 10px;
	height: 100px;
}

.footerContact-form__button {
	border: 0;
	border-radius: 51px;
	background: #0dff90;
	color: white;
	padding: 10px 20px;
	cursor: pointer;
	transition: 0.3s all ease-in-out;
	width: 100px;
	min-width: 334px;
	height: 95px;
	font-size: 23px;
}
.footerContact-form__button:hover {
	background: #08c76e;
}

@media screen and (max-width: 991px) {
	.footerContact__titulo {
		font-size: 30px;
		line-height: 50px;
		margin-top: 150px;
	}
	.footerContact-form {
		padding: 30px 20px;
		height: unset;
	}
}

@media screen and (max-width: 768px) {
	.p0SM {
		padding: 0 !important;
	}
	.footerContact .widthPadrao {
		width: 100%;
	}
	.footerContact-form {
		padding: 30px 5%;
	}
	.footerContact__titulo {
		font-size: 25px;
		line-height: 40px;
		margin-top: 50px;
		margin-bottom: 50px;
		width: 90%;
		margin-left: 5%;
		text-align: center;
	}
}

.footerMenu {
	background: #0d67ff;
	color: #fff;
	padding: 50px 0;
}

.footerMenu__titulo {
	margin-bottom: 30px;
	text-align: center;
	font-size: 20px;
	/*font-weight: bolder;*/
}
.footerMenu__item {
	text-align: center;
	color: #fff;
	font-size: 15px;
}
.footerDireitos {
	color: #fff;
	font-size: 15px;
	text-align: center;
	padding: 15px 0;
	background: #0ce8c1;
}
.footerDireitos p {
	margin-bottom: 0 !important;
}

.footerMenu__titulo--icons {
	margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
	.footerMenu__titulo {
		margin-bottom: 10px;
		margin-top: 15px;
	}
	.footerMenu {
		/* margin-top: 30px; */
		padding-bottom: 25px;
	}
}

.emailEnviado {
	display: none;
	margin-top: 180px;
	text-align: center;
	animation-duration: 0.5s;
	animation-delay: 0s;
	animation-name: fadeInUp;
}
.emailEnviado .footerContact__titulo {
	font-size: 100px;
	margin-top: -20px;
	width: 100%;
}
.footerContact__subtitulo--footer {
	padding-bottom: 100px;
}
