.row{
	margin-left: 0 !important;
	margin-right: 0 !important; 
}

.widthPadrao{
	/* width: 1200px; */
	width: 1400px;
    margin: 0 auto;
}
.p0{
	padding: 0 !important; 
}
.background-header{
	background: #0D67FF;
}
.header-block{
    /*margin-top: 17px;*/
    border-radius: 50px;
    padding: 8px 30px !important;
}
.header-block__logo{
	width: 150px; 
}

.nav-item a{
	color: #fff !important;
}

.header-block_toogle{
    text-align: right;
    float: right;
    color: #fff !important;
    border: none !important;
}

input[type="text"]{
	-webkit-appearance:none;
    -moz-appearance:none;
    -o-appearance:none;
}

@media screen and(max-width: 567px){
	select{
		-webkit-appearance:none;
	    -moz-appearance:none;
	    -o-appearance:none;
	}
}
#collapsibleNavbar{
	flex-direction: row-reverse;
}





@media screen and (max-width: 1224px){
	.widthPadrao{
		width: 90%;
	    margin: 0 auto;
	}

}
@media screen and (max-width: 768px){
	.navbar-collapse{
		margin-top: 40px !important;
	    position: absolute !important;
	    background: #2e3192 !important;
	    width: 100% !important;
	    text-align: right !important;
	    padding: 0 42px !important;
	    z-index: 9 !important;
	    border-radius: 17px !important;
	}
}

@media screen and (max-width: 576px){
	.header-block{
    	padding: 8px 10px !important;
	}
	.mobileMenu .navbar-nav .nav-link {
	    margin-top: 10px;
	    font-size: 20px;
	}
}


/*mobile menu*/
.botaoXSmenu{
	background: none;
	border: none;
	font-size: 30px;
	color: #fff;
	float: right;
	padding: 0 20px;
}
.botaoXSmenu:focus{
	outline: none;
}
.mobilemenu-block{
	display: none;
	width: 100%;
	height: 100%;
	position: fixed;
	background: #2E3192;
	z-index: 999;
	text-align: center;
	font-size: 20px;
	padding-top: 30px;

    animation-duration: 0.7s;
    animation-delay: 0s;
    animation-name: bounceInDown;
}
.mobilemenu-block__times{
	text-align: right;
	color: #fff;
	font-size: 25px;
	margin-right: 5%;
}
.block__logo--mobile{
	width: 200px;
	margin-top: 5px;
}